/* 
    Document   : style
    Created on : Sep 25, 2013, 9:26:34 PM
    Author     : contribute
    Description:
        Purpose of the stylesheet follows.
*/

.ui-widget {
    font-size:80%;
}

.ui-widget .ui-widget {
    font-size:100%;
}

.ui-selectonemenu-panel .ui-selectonemenu-list-item{
    font-size:95%;
}